header {

    background-color: rgb(146, 161, 194); 
    padding:10px 0px 10px 50px;
    margin-bottom:50px;

}







.hidden {
    display: none;
}







.main {
    width:100%; 
    border:0; 
    background-color:yellow;
    margin:0;
    text-align:center;
}

form ul {
    padding:0;
    width:50%;
    display:block;
    margin:0 auto;
}

form li {
    background-color:orange;
    margin:1em 0;
    padding:1em 0;
    border-radius:1em;
}

li label {
    text-transform:uppercase;
    letter-spacing: 0.2em;
}

form p {
    margin:0 auto;
}





h1 {

    font: 40pt Courier New;
}





ul {
    list-style-type: none;
}






li {
    float:left;
    display:block;
    width:100%;
    text-align:center;
    padding:20px;
}




button {
    transition-duration: 0.4s;
    background-color: rgb(146, 161, 194); 
    padding:10px;
  }




  
button:hover {
    background-color: #04AA6D;
    color: white;
  }










  