header {

    background-color: rgb(146, 161, 194); 
    padding:10px 0px 10px 50px;
    margin-bottom:50px;

}


html {
    outline: 0;
    
    


}




.hidden {
    display: none;
}







.main {

    width:40%; 
    border:5px groove; 
    padding:10px;
}





h1 {

    font: 40pt Courier New;
}





nav ul {
    list-style-type: none;
}

nav {

    background-color:rgb(3, 7, 14);

}



nav {
    background-color:rgb(105, 143, 224);
    text-align: center;
    text-decoration: none;
    padding: 50px;

}

nav  a{
    float: left;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    font-size: 17px;

}
nav a:hover{
    background-color: rgb(60, 99, 182);
    color: white;
}

li{
    float:left;
    display:block;
    width:100%;
    text-align:center;
    padding:20px;
}




button {
    transition-duration: 0.4s;
    background-color: rgb(146, 161, 194); 
    padding:10px;
  }




  
button:hover {
    background-color: #04AA6D;
    color: white;
  }










  