header {

    background-color: rgb(146, 161, 194); 
    padding:10px 0px 10px 50px;
    margin-bottom:50px;

}







.hidden {
    display: none;
}







.main {

    width:40%; 
    border:5px groove; 
    padding:10px;
}





h1 {

    font: 40pt Courier New;
}





ul {
    list-style-type: none;
}






li {
    float:left;
    display:block;
    width:100%;
    text-align:center;
    padding:20px;
}




button {
    transition-duration: 0.4s;
    background-color: rgb(146, 161, 194); 
    padding:10px;
  }




  
button:hover {
    background-color: #04AA6D;
    color: white;
  }










footer {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2em;
}  